<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CodeQuestApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.CodeQuest">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.auth.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.OTPActivity" android:exported="false" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" android:exported="false" />

        <activity android:name=".ui.main.MainActivity" android:exported="false" />

        <activity android:name=".ui.lesson.LessonActivity" android:exported="false" />
        <activity android:name=".ui.lesson.LessonCompleteActivity" android:exported="false" />
        <activity android:name=".ui.challenge.EditorActivity" android:exported="false" />
        <activity android:name=".ui.challenge.ResultActivity" android:exported="false" />
        <activity android:name=".ui.catalogue.TrackDetailActivity" android:exported="false" />
        <activity android:name=".ui.catalogue.ModuleDetailActivity" android:exported="false" />

        <activity android:name=".ui.social.FriendsActivity" android:exported="false" />
        <activity android:name=".ui.settings.NotificationSettingsActivity" android:exported="false" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.profile.StatisticsActivity" android:exported="false" />
        <activity android:name=".ui.profile.CertificatesActivity" android:exported="false" />

    </application>

</manifest>